<div class="row" *ngIf="Member">
    <div class="col-4">
        <h1>Your Profile</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong >Information:</strong>You have made changes, Any Unsaved changes will be lost
        </div>
    </div>
    <div class="col-4">
        <div class="card ">
            <img src="{{Member.photoUrl || './assets/user.png'}}" alt="{{Member.knownAs}}" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{Member.city}},{{Member.country}}</p>
                </div>
                <div>
                    <strong>Age:</strong>
                    <p>{{Member.age}}</p>
                </div>
                <div>
                    <strong>Last Active:</strong>
                    <p>{{Member.lastActive}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>{{Member.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                    <button [disabled]="!editForm.dirty" form="editForm" type="submit" class="btn btn-success btn-block">Save changes</button>
            </div>
        </div>
    </div>
    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading='About {{Member.knownAs}}'>
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateMember()">
                    <h4>Description</h4>
                    <textarea class="form-control" [(ngModel)]="Member.introduction"  name="introduction" rows="6"></textarea>
                    <h4>Looking For</h4>
                    <textarea class="form-control mt-2" [(ngModel)]="Member.lookingFor"   name="lookingFor" rows="6"></textarea>
                    <h4>Interests</h4>
                    <textarea class="form-control mt-2" [(ngModel)]="Member.interests"   name="interests" rows="6"></textarea>
                    <h4 class="mt-2">Location Details:</h4>
                    <div class="form-inline">
                        <label for="city">City:</label>
                        <input [(ngModel)]="Member.city" type="text" name="city" class="form-control mx-2">
                        <label for="country">Country:</label>
                        <input [(ngModel)]="Member.country" type="text" name="country" class="form-control mx-2">
                    </div>
                </form>
               
            </tab>
            <tab heading='Edit Photos'>
                <app-photo-editor [Member]="Member"></app-photo-editor> 
            </tab>
        </tabset>
    </div>
</div>
